.header {
    margin-top: 45px;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    padding-bottom: 36px;
}

.header__logo {
    max-width: 173px;
    max-height: 33px;
}

@media screen and (max-width: 895px) {
    .header {
        margin-top: 28px;
    }

    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 596px) {
    .header {
        margin-top: 28px;
        padding-bottom: 27px;
    }

    .header__logo {
        width: 126px;
        height: 24px;
        margin-left: 27px;
    }
}



